.header-nav {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
    max-width: 320px;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;

    @media (min-width: 544px){  
      max-width: 544px;
      padding-left: 22px;
      padding-right: 22px;
    }
  
    @media (min-width: 768px) {
      max-width: 768px;
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (min-width: 992px) { 
      max-width: 992px;
      padding-left: 15px;
      padding-right: 15px;
    }
  
    @media (min-width: 1200px) {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        height: 60px;
        max-width: 1430px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.logo {
    position: relative;
    font-family: "M PLUS 1p", sans-serif;
    font-size: 42px;
    font-weight: 800;
    z-index: 1;
    max-width: 70px;
    transition: ease .3s;
    
    a { 
      text-decoration: none;
      color: black;

      &:hover {
        transition: ease .3s;
        color: rgb(61, 61, 61);
      }
    }
  
    a::after {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      border-bottom: 10px solid #fbdc4d;
      bottom: 7px;
      left: -5px;
      right: -5px;
      max-width: 75px;
      
      &:hover {
        transition: ease .3s;
        color: #fad532;
      }
    }
}

.header-menu {
  display: none;

  @media (min-width: 1200px) { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: unset;
    padding-top: initial;
    padding-left: 0;
    transform: unset;
  }

}

.menu-item { 
  position: relative;
  z-index: 1;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(10, 5, 5);
  margin-bottom: 0;
  margin-right: 70px;
        
  &:last-child {    
      margin-right: 0;
  }
    
  &:after {   
    content: "";
    position: absolute;
    bottom: 5px;
    left: -3px;
    width: 0;
    height: 5px;
    background-color: #fbdc4d;
    transition: ease 0.5s;
    z-index: -1;
}

  &:hover::after {
      width: 106%;
      transition: ease 0.5s;
  }

  &:focus {   
      border: dotted;
      border-color: rgb(226, 226, 132);
  }
    
}
  
.header-icons {
  display: none;
      
  a {
    margin-right: 20px;
    text-decoration: none;
  
    &:last-child {  
      margin-right: 0;
    }
  }
  
  @media (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}

.header-icons .fab {  
  font-size: 30px;
}

.fa-telegram {  
  color: #039be5; 
   &:hover { 
    color: #23aff5;
  }
}

.fa-skype { 
  color: #2962ff; 
  
  &:hover { 
    color: #4e99fa;
  }
}
  
.fa-linkedin-in {
  font-size: 30px;
  color: black;

  &:hover {   
      color: #2962ff;
  }
}
  
.fa-github {
    font-size: 30px;
    color: black;

    &:hover {   
        color: #51fa75;
    }
}
  
.fa-vk {
    font-size: 30px;
    color: black;

    &:hover {   
        color: #7599fc;
    }
}
.header-nav-dropdown { 
   position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding-top: 70px;
    padding-left: 30px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    max-width: 320px;
    width: 100%;
    transform: translateX(100%);
    transition: ease 0.5s;

    @media (min-width: 1200px) { 
        display: none;
    }
 }

.header-nav-dropdown.active {  
    display: flex;
    background-color: #fff;
    transform: translateX(0);
}

.toggle-menu-list { 
  margin-top: 25px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    
  a {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    position: relative;
    max-width: max-content;
    text-decoration: none;

  &:after {   
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #fbdc4d;
    transition: ease 0.5s;
    z-index: -1;
  }

    &:hover::after {
      width: 100%;
    }
  }
}

.toggle-menu {  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
     
  @media (min-width: 1200px) { 
    display: none;
  }

  span {  
    position: relative;
    display: block;
    width: 40px;
    height: 5px;
    background-color: #000;
    z-index: 15;
         

    &:before, &:after {   
      content: "";
      position: absolute;
      left: 0;
      width: 40px;
      height: 5px;
      background-color: #000;
    }

    &:before {  
      top: -10px;
    }

    &:after {   
      bottom: -10px;
    }
  }
}

.toggle-menu.active { 
  
  span {  
    background-color: transparent;
        

    &:before {  
      transform: rotate(45deg);
      top: 0;
    }

    &:after {   
      transform: rotate(-45deg);
      bottom: 0;
    }
  }
}

#overlay {  
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;    
}

#overlay.active {   
    display: block;
}

.icons-row-toggle { 
  display: flex;
  max-width: 260px;
  margin-bottom: 40px;
}

.toggle-icons { 
  margin-right: 20px;

  &:last-child {  
    margin-right: 0;
  }
}

.toggle-icons .fab {  
  font-weight: 500;
  font-size: 50px;
}

.toggle-icons .fa-github { 
 color:black;
}

.toggle-icons .fa-telegram { 
  color: #039be5;  
}

.toggle-icons .fa-skype { 
  color: #2962ff;  
}

.toggle-icons .fa-facebook { 
  color: #3b5998;  
}

.mailme-toggle {  
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    border-bottom: solid 1px;

    a { 
        color: #000;

        &:hover { 
            color: #039be5;
            border-bottom: solid 1px #039be5;
          }
      
        &:active {  
            color: #ea736d;
            border-bottom: solid 1px #ea736d;
        }
    }

    
}